@tailwind base;
@tailwind components;
@tailwind utilities;

.ff-sidebar {
  overflow: hidden;
}

.ff-sidebar:hover {
  overflow-y: auto;
}

p {
  color: white;
}

li {
  list-style: none;
}

:hover::-webkit-scrollbar {
  width: 8px;
}

:hover::-webkit-scrollbar-track {
  background-color: #161616;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
  border-radius: 8px;
}
